body{
    overflow-x: hidden;
}
.jumbotron{
    color: white;
    background-image: url(images/background1.jpg);
    background-repeat: no-repeat;
    background-size:110% ;
    height:100% ;
}
.header{
    text-align: center;
    text-transform: uppercase;
    margin-top:10% ;
}
.image2{
    margin-top:15% ;
    text-align: center;
    animation:bounce(3sec);
 }