body{
    overflow-x: hidden;
}
.jumbotron{
    color: white;
    background-image: url(images/background1.jpg);
    background-repeat: no-repeat;
    background-size:110% ;
    height:100% ;
}
.header{
    text-align: center;
    text-transform: uppercase;
    margin-top:10% ;
}
.image2{
    margin-top:15% ;
    text-align: center;
    animation:bounce(3sec);
 }
 /* about */
 .about{
    justify-content: center;
    text-align: center;
}
/* services */
.services{
    background-image: url(images/background2.jpg);
    background-repeat: no-repeat;
    background-size:auto ;
    justify-content: center;
    text-align: center;
    color: white;
    height:300px;
}
/* what we do  */
.whatwedo{
    justify-content:center ;
    text-align: center;
}